body
{
    background-color: rgb(65, 64, 64) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 24px;
    border-radius: 10px;
}

.timer{
    font-size: 50px;
    font-weight: bold;
}

.buttons{
    margin-top: 25px;
}

.btn{
    background-color: none;
    border: none;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: var(--color);
    color: aliceblue;
    margin-inline: 12px;
    cursor: pointer;
}